@import url("https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.1/tailwind.min.css");

.App {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
